<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shadman.notetaker">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_rednote"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_rednote"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_list"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.example.ListViewActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".NoteViewActivity" />
        <activity
            android:name=".EditNoteActivity"
            android:label="@string/title_edit_note"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".SettingsActivity" />
    </application>

</manifest>